build
*~
*.pyc
*.txt
*.mp4
*.csv
tags
*.swp
*.swo
*.lbl
*.json
*.png
*.ply
python_modules/js/distributions/*.c
python_modules/js/distributions/*.so
python_modules/of*
python_modules/tokyo
global
rtmf
rtDDPvMF
cudaPcl
jsCore
dpMMlowVar
optimalRotationEstimation
bbTrans
.directory
data
pod-build
